$d: 850px;
$d-l: 1326px;

$black: #000000;
$white: #ffffff;
//header/footer
$solitude: #f8f9fa;
$link-water: #cbd3da;
//containerBody
$white-smoke: #f9f9f9;
//buttonHover
$shuttle-grey: #545b62;
//buttonBack
$raven: #6c757d;

$cobal: #0056b3;
$color: #ed6548;
$color1: #f0a290;
$danger: #dc3545;
$dangerhover: #bd2130;
$dodger-blue: #007bff;
$sangria: #85040f;
$erreur: #f02849;
